.visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.piechart {
    margin-top: 2vh;
    width: 80%;
}

.number {
    font-weight: bold;
    font-size: clamp(1rem, 4.5vh, 10vw);
    margin-top: -1vh;
    margin-bottom: 4vh;
}

.humanityCollective {
    width: 80vw;
    font-weight: bold;
    font-size: clamp(1rem, 4.5vh, 10vw);
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.yearsAndMonths {
    font-weight: normal;
    font-size: clamp(1rem, 2.5vh, 3.9vw);
}

.statistics {
    margin-top: 4vh;
}

.sources {
    width: 80vw;
    word-wrap: break-word;
    font-size: clamp(1rem, 1.5vh, 3.9vw);
  }

@media only screen and (min-aspect-ratio: 1/1) {

    .humanityCollective {
        width: 70vw;
    }

    .visual {
        flex-direction: row;
        width: 70vw;
    }

    .piechart {
        width: 60%;
    }

    .statistics {
        margin-left: 5vw;
    }

}