@import url(../stylesheets/style.css);

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - (var(--navbar-height)));
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.backgroundOverlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.85);
}

.heading-wrap {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mobile-main-heading {
  display: block;
  position: relative;
  text-align: left;
  color: white;
  text-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.75);
}

.desktop-main-heading {
  position: absolute;
  display: none;
}

.phoneImage {
  height: 36vh;
  max-width: 100%;
  position: absolute;
  top: 17vh;
  z-index: -1;
}

.landing-subheading {
  color: white;
  width: 90%;
  max-width: 20rem;
  margin-top: 24vh;
  text-align: center;
  text-shadow: 0.1rem -0.2rem 0.4rem rgba(0, 0, 0, 0.75);
}

.landing-text {
  color: white;
  width: 90%;
  max-width: 20rem;
  margin-top: 1vh;
}

button {
  margin-top: 2vh;
  color: white;
  font-weight: bold;
  border: solid 0.2rem white;
  border-radius: 10vh;
  font-size: clamp(1rem, 2.5vh, 6.4vw);
  width: clamp(6rem, 20vh, 50vw);
  height: clamp(2rem, 6vh, 15vw);
  background: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0.2rem rgba(255, 255, 255, 0.85);
}

.stats-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50vh;
}

.image-container {
  display: flex;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

.stats-image {
  margin-top: -4px;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.clarification {
  font-size: clamp(1rem, 2.15vh, 5.6vw);
  font-weight: lighter;
  margin-top: 20%;
  position: absolute;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

.big-number {
  margin-top: 22%;
  position: absolute;
  color: white;
  font-size: clamp(1rem, 7vh, 18vw);
  font-weight: bold;
  text-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.75);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  margin: 1vh 0;
}

.why-article {
  width: 80vw;
}

.video-container {
  margin-top: 2vh;
  width: 80vw;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: -4%;
}

.highlight-video {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.further-reading {
  margin: 0;
  padding: 0;
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60vw;
}

.further-reading-image {
  margin: 1%;
  max-width: 98%;
}

.sources {
  width: 80vw;
  word-wrap: break-word;
  font-size: clamp(1rem, 1.5vh, 3.9vw);
}

@media only screen and (min-height: 870px) {

  .landing-subheading {
    max-width: 28rem;
  }

  .landing-text {
    max-width: 27rem;
  }

}

@media only screen and (min-height: 1200px) {

  .landing-subheading {
    max-width: 34rem;
  }

  .landing-text {
    max-width: 32rem;
  }

}

@media only screen and (min-aspect-ratio: 1/1) {

  .clarification {
    margin-top: 19vh;
    font-size: 3.1vh;
    margin-left: 40%;
    font-weight: lighter;
  }

  .big-number {
    margin-top: 21vh;
    font-size: 10vh;
    margin-left: 40%;
  }

}

@media only screen and (min-aspect-ratio: 14/9) {

  #landing {
    align-items: start;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .mobile-main-heading {
    position: absolute;
    display: none;
  }
  
  .desktop-main-heading {
    display: block;
    position: relative;
    text-align: center;
    margin-top: clamp(5rem, 12vh, 20vw);
    color: white;
    font-size: clamp(1rem, 7vw, 18vh);
    text-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.75);
  }
  
  .phoneImage {
    height: 79vh;
    position: absolute;
    top: 21vh;
    right: 0;
    z-index: -1;
  }
  
  .landing-subheading {
    margin: 16vh 0 0 10vw;
    font-size: clamp(1rem, 3vw, 7.8vh);
    max-width: 50vw;
    text-align: start;
  }

  .landing-text {
    margin: 0 10vw;
    font-weight: lighter;
    font-size: clamp(1rem, 2vw, 5.2vh);
    max-width: 40vw;
    margin-top: 1vh;
  }

  button {
    margin: 0 25vw;
    margin-top: clamp(1rem, 3vw, 6vh);
    font-size: clamp(1rem, 2vw, 5.2vh);
    width: clamp(7rem, 14vw, 36vh);
    height: clamp(2rem, 4vw, 12vh);
    border-radius: 10vw;
  }

  .stats-image {
    filter: none;
  }

  .video-container {
    margin-top: 4vh;
    width: 60vw;
    margin-bottom: -21%;
  }
  
  .highlight-video {
    height: 33.75vw;
  }

  .further-reading-image {
    height: 60vh;
  }

}