@import url(../stylesheets/style.css);

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh);
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.backgroundOverlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.85);
}

.heading-wrap {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mobile-main-heading {
  display: block;
  position: relative;
  text-align: left;
  color: white;
  font-size: 7vh;
  line-height: 7vh;
  text-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.75);
}

.desktop-main-heading {
  position: absolute;
  display: none;
}

.phoneImage {
  height: 36vh;
  max-width: 100%;
  position: absolute;
  top: 18vh;
  z-index: -1;
}

.landing-subheading {
  color: white;
  width: 90%;
  max-width: 20rem;
  margin-top: 30vh;
  font-size: 4vh;
  text-align: center;
  text-shadow: 0.1rem -0.2rem 0.4rem rgba(0, 0, 0, 0.75);
}

.landing-text {
  color: white;
  font-size: 2.5vh;
  width: 90%;
  max-width: 20rem;
  margin-top: 2vh;
}

button {
  margin-top: 3vh;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  border: solid 0.2rem white;
  border-radius: 10vh;
  width: 20vh;
  height: 6vh;
  background: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0.2rem rgba(255, 255, 255, 0.85);
}

.stats-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50vh;
}

.image-container {
  display: flex;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

.stats-image {
  margin-top: -4px;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.clarification {
  font-size: 2.15vh;
  font-weight: lighter;
  margin-top: 20%;
  position: absolute;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

.big-number {
  margin-top: 22%;
  position: absolute;
  color: white;
  font-size: 7vh;
  font-weight: bold;
  text-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.75);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  margin: 1vh 0;
}

.why-article {
  width: 80vw;
}

.video-container {
  margin-top: 2vh;
  width: 80vw;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: -4%;
}

.highlight-video {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.further-reading {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60vw;
}

.further-reading-image {
  margin: 1vh;
  max-width: 100%;
}

@media only screen and (min-height: 870px) {

  .landing-subheading {
    max-width: 28rem;
  }

  .landing-text {
    max-width: 27rem;
  }

}

@media only screen and (min-height: 1200px) {

  .landing-subheading {
    max-width: 34rem;
    font-size: 3.6rem;
  }

  .landing-text {
    max-width: 32rem;
    font-size: 2rem;
  }

}

@media only screen and (min-aspect-ratio: 1/1) {

  .clarification {
    margin-top: 19vh;
    font-size: 3.1vh;
    margin-left: 40%;
    font-weight: lighter;
  }

  .big-number {
    margin-top: 21vh;
    font-size: 10vh;
    margin-left: 40%;
  }

}

@media only screen and (min-aspect-ratio: 14/9) {

  #landing {
    align-items: start;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .mobile-main-heading {
    position: absolute;
    display: none;
  }
  
  .desktop-main-heading {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 4rem;
    color: white;
    font-size: 7vw;
    text-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.75);
  }
  
  .phoneImage {
    height: 79vh;
    position: absolute;
    top: 21vh;
    right: 0;
    z-index: -1;
  }
  
  .landing-subheading {
    margin: 12vh 0 0 10vw;
    font-size: 3vw;
    max-width: 50vw;
    text-align: start;
  }

  .landing-text {
    margin: 0 10vw;
    font-weight: lighter;
    font-size: 2vw;
    max-width: 40vw;
    margin-top: 1vh;
  }

  button {
    margin: 0 25vw;
    margin-top: 3vw;
    font-size: 2vw;
    width: 14vw;
    height: 4vw;
    border-radius: 10vw;
  }

  .stats-image {
    filter: none;
  }

  .video-container {
    margin-top: 4vh;
    width: 60vw;
    margin-bottom: -21%;
  }
  
  .highlight-video {
    height: 33.75vw;
  }

  .further-reading-image {
    height: 60vh;
  }

}