@import url(../stylesheets/style.css);

.desktop-nav {
    display: none;
}

.mobile-nav {
    display: flex;
    align-items: center;
    background-color: black;
}

.logo {
    height: 2.5rem;
    margin-left: calc(50vw - 1.25rem);
}

.hamburger {
    margin-left: auto;
}

.menu {
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    background-color: #111111;
    position: absolute;
    z-index: 1000;
}

.mobile-menu-links {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.mobile-menu-item {
    margin-top: 1.4rem;

}

.nav-text {
    color: white;
    font-weight: lighter;
    font-size: 1.4rem;
}

.nav-text:hover {
    text-shadow: 0 0 0.2rem rgba(255, 255, 255, 1);
}

@media only screen and (min-aspect-ratio: 14/9) {

    .mobile-nav {
        display: none;
    }

    .menu {
        display: none;
    }

    .desktop-nav {
        display: block;
        position: absolute;
        width: 100vw;
        background-color: black;
        z-index: 1000;
    }

    .desktop-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        height: var(--navbar-height);
    }

    .desktop-nav-item {
        padding: 0 1rem;
    }

    .logo {
        margin: 0;
    }
}
