* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}